<B><p style="text-align-last: center; color: blue;">update Reclamation</B>
    <form  (ngSubmit)="updateRow()" >
          
             <table class="table table-striped table-hover "  style="text-align-last: center;"  >
         
            <tbody>
                
    <tr>
        
        <td style="width: 69%; height: 5%; align-content: right;"  ></td>
       <td> <div class="form-group">
       
        <label>id</label>   <input type="text" class="form-control" id="id" [(ngModel)]="Reclam.id"
              name="id"  >
        </div>
        <div class="form-group">
            <label>Status</label> 
              
            <select class="form-control form-control-lg" id="status" name="status" [(ngModel)]="Reclam.status">        
                <option  >   
                      Waiting
                      
                </option>
                <option  >   
                    Accepted
                    
              </option>
              <option  >   
                Refused
                
          </option>
            </select>  
            </div>
            <div class="form-group">
                <label>Content</label> 
                 <input    type="text" class="form-control" id="content" [(ngModel)]="Reclam.content"
                      name="content"  >
                </div>
        
        <div class="form-group"  >
            <label>Date</label> 
            <input type="text"  class="form-control" [(ngModel)]="Reclam.dateComplaint" id="dateComplaint" name="dateComplaint">  
      
        </div>

        <div class="form-group">
            <label>Users</label>
            <select class="form-control form-control-lg" id="id" name="idUser" [(ngModel)]="Reclam.user.id">        
                <option  *ngFor="let user of userlis" [value]="user.id" >   
                      {{user.username}}
                      
                </option>
            </select>       
            
          </div>
              <button  class="btn btn-success" type="submit">Save</button>
     
    </td></tr>
        </tbody> 
       </table>
      
        <br>    
        </form>
      